{%extends 'base.html'%}
{%block navbar%}
<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table">
                <tr>
                    <th>Task Name</th>
                    <th>User</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                
                {%for t in tasks%}
                    <tr>
                        <td>{{t.task_name}}</td>
                        <td>{{t.user}}</td>
                        <td>{{t.created_date}}</td>
                        <td>{{t.status}}</td>
                        <td>
                            <a href="{%url 'todo-detail' t.id %}" class="btn btn-outline-primary">View</a>
                            <a href="{%url 'task-delete' t.id %}" class="btn btn-outline-danger">Delete</a>
                            <a href="{%url 'task-edit' t.id %}" class="btn btn-outline-warning">Edit</a>
                        </td>
                    </tr>
                {%endfor%}
            </table>
            <a href="{%url 'task-add' %}" class="btn btn-info">Add More Tasks</a>
        </div>
        <div class="col-2"></div>
    </div>
</div>
{%endblock%}